* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

header {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
}

nav a {
  color: black;
  text-decoration: none;
  margin-left: 0.5rem;
  padding: 1rem;
}

nav a:hover {
  color: white;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.container #imagenes{
  display: flex;  
}

.container #imagenes .card{
  box-shadow: solid 2px;
  margin-right: 2rem;
  display: grid;
  justify-items: center;
}

.container #imagenes .card img{
  display: flex;
  margin: 2rem 1rem;
}

.container #imagenes .card p{
  font-size: small;
  color: rgb(226, 43, 156);
  margin:0.1rem;
}

.container #imagenes .card .producto-btn{
  color: rgb(0, 0, 0);
  margin: 0.5rem;
}

.container #imagenes .card .producto-btn:hover{
  color: rgb(226, 43, 156);
  background-color: rgb(255, 255, 255);
}

#lista ul{
  list-style: none;
}

#total{
  margin-top: 0.2rem;
  font-weight: bolder;
  color: rgb(226, 43, 156);
}
footer{
  width: 100%;
}

#main__footer {
  background-color: rgb(0, 0, 0);
  position:fixed;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1, 2;
  padding: 1rem;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  text-align: center;
}

#main__footer #contacto__redes {
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}

#main__footer #contacto__w {
  font-size: 0.9rem;
  color: rgb(226, 43, 156);
  padding-bottom: 1rem;
}

#main__footer #redes a{
  text-decoration: none;
  justify-self: center;
  padding: 1rem;
  color: white;
  font-size: 2.5rem;
  padding-top: 3rem;
}
